* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f7f6;
    padding: 20px;
}

.logo-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.logo {
    width: 400px;
    height: auto;
}

.form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 650px;
    margin-top: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 25px;
    font-size: 1.4em;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input {
    width: 100%;
    height: 54px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}
input::placeholder{
    font-size: 1.3em;
}
.input.error-border {
    border: 2px solid #e74c3c;
}

.error-text {
    color: #e74c3c;
    font-size: 0.9em;
    margin-top: 2px;
    margin-bottom: 0;
    display: block;
}

/* Submit Button */
.submit-btn {
    width: 100%;
    height: 55px;
    background-color: #2ecc71;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #27ae60;
}

/* Sign Up Prompt */
.signup-prompt {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
}

.signup-prompt a {
    color: #3498db;
    text-decoration: none;
}
.main-error {
    background-color: #fce4e4; 
    color: #c0392b; 
    border: 1px solid #c0392b; 
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    display: none; 
}